<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #sidenav [mode]="mode" [opened]="sidenavOpened" class="sidenav">
        <section class="menu-section">
            <app-nav-menu class="nav-menu"></app-nav-menu>
            <div class="version">
                <span>Version: 1.0.0</span>
            </div>
        </section>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
        <section class="main-content">
            <ng-content></ng-content>
        </section>
    </mat-sidenav-content>

</mat-sidenav-container>