@import '../../../../../assets/styles/colors.scss';

.sidenav-container{
    height: 100%;
    overflow: hidden;
    padding-top: 50px;
}

.sidenav{
    padding-top: 50px;
    display: flex;
    width: 250px;
    background-color: $dark-gray;
    color: white;
}

.sidenav-content{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}

.main-content{
    flex: 1;
    padding: 20px;
}

.version{
    margin-left: auto;
    margin-right: auto;
    align-self: flex-end;
    font-size: 10px;
}

.nav-menu{
    flex-grow: 1;
    overflow-y: auto;
}

.menu-section{
    height: 100%;
    display: flex;
    flex-direction: column;
}