<h2 mat-dialog-title>Cambio de contraseña</h2>
<form [formGroup]="formChangePassword">

        <div class="row mx-2 my-2">
            
            <div class="col-12 col-sm-12 col-md-12">
                <mat-form-field class="full-width" appearance="outline">
                <mat-label>Nueva contraseña</mat-label>
                <input matInput maxlength="50" placeholder="Nueva contraseña" type="password" formControlName="password" [pattern]="passwordRegex" [(ngModel)]="value1">
                @if(formChangePassword.controls.password.errors?.['required']){ <mat-error>* Campo requerido.</mat-error> }
                @if(formChangePassword.controls.password.errors?.['pattern']){ <mat-error>Minimo 8 caractares, mayus, minus, numeros y caracaters especiales.</mat-error> }
                </mat-form-field>
            </div>
            <div class="col-12 col-sm-12 col-md-12">
                <mat-form-field class="full-width" appearance="outline">
                <mat-label>Ingrese nuevamente contraseña</mat-label>
                <input matInput maxlength="50" placeholder="Ingrese nuevamente contraseña" type="password" formControlName="passwordReply" [pattern]="passwordRegex" [(ngModel)]="value2">
                @if(formChangePassword.controls.passwordReply.errors?.['required']){ <mat-error>* Campo requerido.</mat-error> }
                @else if(formChangePassword.controls.passwordReply.errors?.['pattern']){ <mat-error>Minimo 8 caractares, mayus, minus, numeros y caracaters especiales.</mat-error> }
                @else if(formChangePassword.controls.passwordReply.errors?.['replicatePassword']){ <mat-error>Constraseñas no coiciden.</mat-error> }
                </mat-form-field>
            </div>
            
        </div>

    <mat-dialog-actions class="d-flex justify-content-end">
        <button mat-raised-button style="width: 100px;" color="primary" type="submit" (click)="submitForm()" [disabled]="disableSubmit" cdkFocusInitial>
            @if (!disableSubmit) { Aceptar }
            @if(disableSubmit){
                <mat-icon> <mat-spinner color="primary" diameter="18"></mat-spinner> </mat-icon>
            }
        </button>
        <button mat-raised-button style="width: 100px;" color="warn" (click)="dialogRef.close()">
            Cancelar
        </button>
    </mat-dialog-actions>
</form>