<app-filter-table [addRoute]="['presentation','add']" (filterEmitter)="handleEventFilter($event)"/>

<section class="table-container mat-elevation-z1">

    @if (isLoadingResults) {
      <div class="spinner">
          <mat-spinner [diameter]="50"></mat-spinner>
      </div>
    }
  
    <table mat-table [dataSource]="$presentations()">
  
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let i = index;">{{ (i+1) + (paginator.pageIndex*pageSize) }}</td>
      </ng-container>
  
      <ng-container matColumnDef="presentation">
        <th mat-header-cell *matHeaderCellDef>Presentación</th>
        <td mat-cell *matCellDef="let row">{{row.presentationName}}</td>
      </ng-container>
  
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="edit(row)">
              <mat-icon class="color-primary">edit</mat-icon>
              <span>Editar</span>
            </button>
            <button mat-menu-item (click)="delete(row)">
                <mat-icon>delete</mat-icon>
                <span>Eliminar</span>            
            </button>
          </mat-menu>
  
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>
    
    @if (hasAnyData) {
      <div class="text-align-center">
        No se se obtuvieron datos de presentaciones.
      </div>
    }
  
    <mat-paginator [length]="categoriesLength" [pageSize]="pageSize" aria-label="Select page of Users search results"></mat-paginator>
  
  </section>