@import 'src/assets/styles/colors.scss';

.menu-a-item{
    padding-left: 1.5rem;
}

.item-menu{
    display: flex;
    align-items: center;
}

.expansion-panel{
    border-radius: none;
}

.expansion-panel, .item-menu{
    background-color: $dark-gray;
    color: white;
    font-size: 14px;
    font-weight:500;
}

.expansion-panel .menu-a-item{
    border-bottom: 1px solid $gray;
}

.menu-item-text{
    padding-left: 1rem;
}

::ng-deep .mat-expansion-indicator::after, 
.mat-expansion-panel-header-description{
    color: white !important;
}