/* You can add global styles to this file, and also import other style files */
@import '@sweetalert2/theme-material-ui/material-ui.scss';
@import '../src/assets/styles/colors.scss';

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width{
	width: 100%;
}

.white-spinner {
    --mdc-circular-progress-active-indicator-color: #fff !important;
}

//sweetalert
.colored-toast.swal2-icon-success {
	background-color: #00b45d !important;
}
  
.colored-toast.swal2-icon-error {
	background-color: #D32F2F !important;
}

.colored-toast.swal2-icon-warning {
	background-color: #FFA000 !important;
}

.colored-toast.swal2-icon-info {
	background-color: #1976d2 !important;
}

.colored-toast.swal2-icon-question {
	background-color: #70b3be !important;
}

.colored-toast .swal2-title {
	color: white;
}

.colored-toast .swal2-close {
	color: white;
}

.colored-toast .swal2-html-container {
	color: white;
}

.color-success{
	color: $success;
}

.color-danger{
	color: $danger;
}

.color-primary{
	color: $primary;
}

.color-navi{
	color: $navi;
}

.color-gray{
	color: $gray;
}

.color-purple{
	color: $purple;
}

//table
.spinner{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-align-center{
    margin: 1rem 0;
    text-align: center;
}

.table-container{
    position: relative;;
}
