$primary: #1976d2;
$accent: #FFA000;
$warn: #D32F2F;

$ligth-gray: #90A4AE;
$gray: #455A64;
$dark-gray: #263238;
$navi: #304FFE;
$success: #00b45d;
$yellow: #FFFF00;
$danger: #d80404;
$purple: #761adf